# ละเว้นไฟล์ environment
.env

# ละเว้นโฟลเดอร์ที่เก็บรูปภาพ/ไฟล์อัปโหลด
www/uploads/
www/assets/uploads/

# ซ่อนไฟล์ตั้งค่าฐานข้อมูลเพื่อป้องกันรหัสผ่านหลุด
www/config/db.php

# ละเว้นไฟล์ระบบอื่นๆ
.DS_Store

# ละเว้นโฟลเดอร์ระบบของ Database
/db_data/